[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dan/Desktop/git-reset.md]
row=5
col=11

[/home/dan/Desktop/scilld.png]
row=0
col=10

[/home/dan/Desktop/mobile.png]
row=3
col=11

[/home/dan/Desktop/scilld_banner.png]
row=1
col=10

[/home/dan/Desktop/web.png]
row=4
col=11

[127E75F67E75D349]
row=0
col=11

[Trash]
row=2
col=11

[/home/dan]
row=1
col=11

